[submodule "RareUpdater/quazip"]
	path = RareUpdater/quazip
	url = https://github.com/stachenov/quazip.git
[submodule "RareUpdater/zlib"]
	path = RareUpdater/zlib
	url = https://github.com/madler/zlib.git
[submodule "RareUpdater/quazip-v0.9.x"]
	path = RareUpdater/quazip-v0.9.x
	url = https://github.com/stachenov/quazip.git
